* {
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
  padding: 0;

}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: black;
  background-color: white;
  font-family: sans-serif;

}

h1,h2,h3,h4,h5 {
  font-family: Arial;
}

header{
  background-color: #469ee9;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;

}

header nav{
  grid-column: span 2;
  font-size: 20px;
}
header nav a {
  margin: 20px;
}

footer{
  background-color: #469ee9;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}

.product_card {
  width: min-content;
  padding: 1rem;
  background-color: #f4a719;
}