* {
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
  padding: 0;

}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: black;
  background-color: white;
  font-family: sans-serif;

}

h1,h2,h3,h4,h5 {
  font-family: Arial;
}

header{
  background-color: #469ee9;
  grid-template-columns: 1fr 3fr;
  padding: 1%;
  display: grid
}

header nav{
  grid-column: 1 / -1;
  font-size: 20px;
  margin-top: 1rem;
}

header img {
  width: 30%;
}

footer{
  background-color: #469ee9;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 20px;
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}

.product_card {
  width: min-content;
  padding: 1rem;
  background-color: #f4a719;
}

.shop-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  margin: 20px 0;
  transition: background-color 0.3s ease;
}

.shop-button:hover {
  background-color: #7ba4f0;
}

.button {
  cursor: pointer;
  margin: 1rem;
  padding: 0.5rem;
  transition: all 1s;
  border-radius: 5%;
}

.button:hover {
  background-color: #f4a719;
}